.join-container {
  margin: auto;
  text-align: center;
  background-color: #f4f6fe;
  padding: 5rem auto;
}

.join-container {
  padding: 80px;
  color: #ffffff99;
  font-family: "Overpass", sans-serif;
}

.join-content {
  width: 700px;
  margin: auto;
}

.join-content h2 {
  font-size: 36px;
  font-weight: 800;
  line-height: 43.2px;
  color: #3c4257;
}

.join-content p {
  color: #6b7b9c;
  font-size: 16px;
}

.join-buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 2rem auto 0 auto;
  gap: 1.5rem;
}
